@font-face {
    font-family: '#{$FontName}-Bold';
    @include fontdef($FontPath, $FontName, $FontVersion, "Bold");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
